@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body{
    font-family: 'Open Sans',serif;
    background-color: rgb(109, 170, 235);
 }

.container{
    background-color: rgb(226, 242, 255);
    margin-top: 15rem;
    width: 50rem;
    height: 20rem;
    border: 2px solid gray;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 10px rgb(72, 132, 243);
}
h1{
    text-align: center;
    padding-top: 10px;
    font-weight: 600;
    text-shadow: 2px 2px rgba(101, 100, 100, 0.682);
}
.date-container{
    display: flex;
    margin-top: 40px;
    margin-bottom: 30px;
}
.test{
    margin-right: 30px;
    margin-left: 30px;
}
.input{
    border: 4px solid rgb(18, 58, 204);
    border-radius: 10px;
}
.title{
    text-align: left;
    color: rgb(80, 80, 227);
}
.base{
    margin-left: 20rem;
}
.base>p{
    margin-left: -8rem;
    margin-top: 30px;
    font-size: 20px;
    color: rgb(25, 99, 163);
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}